/* Yukkuri Arena - a web technologies-based game about pastries. */
/* Copyright (C) 2021 Alessio Vanni */

/* This file is part of Yukkuri Arena. */

/* Yukkuri Arena is free software: you can redistribute it and/or modify */
/* it under the terms of the GNU Affero General Public License as */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version. */

/* Yukkuri Arena is distributed in the hope that it will be useful, but */
/* WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU */
/* Affero General Public License for more details. */

/* You should have received a copy of the GNU Affero General Public License */
/* along with Yukkuri Arena.  If not, see <https://www.gnu.org/licenses/>. */

#team-picker {
    text-align: center;
}

#summary h3 {
    text-align: center;
}

.log-container .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1000px) {
    .log-container .flex-container {
	flex-direction: column;
	justify-content: initial;
    }
}

#battle-log h3 {
    text-align: center;
}

#battle-log {
    overflow: auto;
    height: 463px;
    width: 572px;
}

@media (max-width: 1000px) {
    #battle-log {
	line-height: 1.8;
	border: 1px solid navy;
	padding: 10px;
	width: initial;
    }
}

#teams-stats h5 {
    margin: 4px;
    padding: 0px;
}

#teams-stats ul {
    margin: 0px;
}

.unit-stats {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 5px;
    margin-bottom: 8px;
    margin-left: 22px;
}

@media (max-width: 1000px) {
    .unit-stats {
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 8px;
    }
}

.unit-stats header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unit-player {
    border: 2px dashed orange;
}

.unit-enemy {
    border: 2px dashed purple;
}

.unit-stats section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#battle-turns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 13px;
}

.unit-turn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.unit-turn:first-child {
    border: 2px solid firebrick;
}

.unit-turn-player {
    background-color: rgb(255, 165, 0, 0.3);
}

.unit-turn-enemy {
    background-color: rgb(160, 32, 240, 0.3);
}
