/* Yukkuri Arena - a web technologies-based game about pastries. */
/* Copyright (C) 2021 Alessio Vanni */

/* This file is part of Yukkuri Arena. */

/* Yukkuri Arena is free software: you can redistribute it and/or modify */
/* it under the terms of the GNU Affero General Public License as */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version. */

/* Yukkuri Arena is distributed in the hope that it will be useful, but */
/* WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU */
/* Affero General Public License for more details. */

/* You should have received a copy of the GNU Affero General Public License */
/* along with Yukkuri Arena.  If not, see <https://www.gnu.org/licenses/>. */

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    line-height: 1.5;
}

main {
    width: 978px;
    margin: auto;
    margin-top: 15px;
    overflow: auto;
}

@media (max-width: 1000px) {
    main {
	max-width: 655px;
	font-size: 1.18rem;
    }
}

@media (max-width: 400px) {
    main {
	max-width: 300px;
    }
}

nav {
    background-color: whitesmoke;
    padding: 3px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 3px 5px 0px lightgray;
}

nav h1 {
    padding: 0px;
    margin: 0px;
}

nav a {
    font-size: 1.18rem;
    color: midnightblue;
    padding: 3px;
    text-decoration: none;
}

nav a:hover {
    background-color: lightblue;
    border-radius: 3px;
}

footer {
    margin-left: 10px;
    line-height: initial;
}

button {
    height: 2rem;
    border: 1px solid navy;
}

.vfill {
    flex-grow: 5;
}
