/* Yukkuri Arena - a web technologies-based game about pastries. */
/* Copyright (C) 2021 Alessio Vanni */

/* This file is part of Yukkuri Arena. */

/* Yukkuri Arena is free software: you can redistribute it and/or modify */
/* it under the terms of the GNU Affero General Public License as */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version. */

/* Yukkuri Arena is distributed in the hope that it will be useful, but */
/* WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU */
/* Affero General Public License for more details. */

/* You should have received a copy of the GNU Affero General Public License */
/* along with Yukkuri Arena.  If not, see <https://www.gnu.org/licenses/>. */

main {
    user-select: none;
    -webkit-user-select: none;
}

main section > div {
    padding: 10px;
    padding-top: 17px;
    margin: 0px calc(100% - 90%) 13px;
    border: 2px dashed navy;
}

ul {
    margin-top: 3px;
    margin-bottom: 3px;
}

h4.team-name {
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
}

.teambox {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.modal {
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-hidden {
    display: none;
}

.modal-close {
    float: right;
    font-size: 1.1rem;
    font-weigth: bold;
    padding: 3px;
}

.modal-close:hover, .modal-close:focus {
    cursor: pointer;
    background-color: lightblue;
}

.modal-contents {
    background-color: white;
    margin: 10% auto;
    max-width: 600px;
    padding: 0px;
    box-shadow: 0px 7px 7px 0px black;
}

@media (max-width: 400px) {
    .modal-contents {
	max-width: 300px;
    }
}

@media (max-width: 1000px) {
    .modal-close {
	font-size: 1.7rem;
	padding: 7px;
    }
}

.modal-contents header h3 {
    background-color: whitesmoke;
    padding: 12px;
    margin-bottom: 5px;
}

.modal-contents section {
    padding: 12px;
}

.modal-contents footer {
    padding-bottom: 12px;
}

.team-editor-ids {
    display: flex;
    flex-direction: column;
    max-width: 593px;
    padding: 7px;
    margin-bottom: 15px;
}

@media (max-width: 400px) {
    .team-editor-ids {
	max-width: calc(300px - 7px);
    }
}

#database-link {
    margin-top: 22px;
}

#notifications {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.toast {
    min-width: 150px;
    padding: 12px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 3px;
    text-align: center;
    background-color: rgb(179, 243, 179);
    box-shadow: 0px 3px 5px 0px lightgray;
}

.toast-hidden {
    animation: fadeout 0.5s;
}

@keyframes fadeout {
    from {
	opacity: 1;
    }
    to {
	opacity: 0;
    }
}
